// Colors

$col_red: #cb4046;
$col_black: #282828;
$col_text: #4d4d4d;
$col_gold: #ffdc73;
$col_silver: #C0C0C0;
$col_white: #ffffff;

// Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
$font_family: 'Open Sans', sans-serif;
$font_bold: bold;
$font_italic: italic;
