@import "../../scss_files/variables";
@import "../../scss_files/mixins";
@import "../../scss_files/bootstrapcostum";

.background-image {
  @include back_image("/img/foresttothebay.jpg");
}

@media screen and (min-width: 992px) {
  footer {
    img {
      width: 15% !important;
    }
  }
}

.h-80 {
  height: 80%;
  margin: auto 0px;
}
