@import "./scss_files/variables";
@import "./scss_files/bootstrapcostum";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_family;
}

@media (max-width: 459px) {
  .sponsor_section {
    p {
      width: 100% !important;
    }
  }
}

@media screen and (min-width: 992px) {
  .w-85 {
    width: 85%;
  }
}
